/* Page 513 styles */
.page-513 {
  --page-index: 513;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-513-header {
  font-size: calc(1rem + 3px);
  color: hsl(261, 70%, 50%);
}

.page-513-content {
  padding: 2rem;
  border-radius: 5px;
}
