/* Page 607 styles */
.page-607 {
  --page-index: 607;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-607-header {
  font-size: calc(1rem + 7px);
  color: hsl(139, 70%, 50%);
}

.page-607-content {
  padding: 4rem;
  border-radius: 11px;
}
