/* Page 1902 styles */
.page-1902 {
  --page-index: 1902;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1902-header {
  font-size: calc(1rem + 2px);
  color: hsl(174, 70%, 50%);
}

.page-1902-content {
  padding: 3rem;
  background: linear-gradient(
    270deg,
    hsl(174, 70%, 95%),
    hsl(354, 70%, 95%)
  );
  border-radius: 10px;
}
