/* Page 43 styles */
.page-43 {
  --page-index: 43;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-43-header {
  font-size: calc(1rem + 3px);
  color: hsl(151, 70%, 50%);
}

.page-43-content {
  padding: 4rem;
  background: linear-gradient(
    135deg,
    hsl(151, 70%, 95%),
    hsl(331, 70%, 95%)
  );
  border-radius: 7px;
}
