/* Page 899 styles */
.page-899 {
  --page-index: 899;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-899-header {
  font-size: calc(1rem + 9px);
  color: hsl(143, 70%, 50%);
}

.page-899-content {
  padding: 4rem;
  background: linear-gradient(
    135deg,
    hsl(143, 70%, 95%),
    hsl(323, 70%, 95%)
  );
  border-radius: 7px;
}
