/* Page 1639 styles */
.page-1639 {
  --page-index: 1639;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1639-header {
  font-size: calc(1rem + 9px);
  color: hsl(163, 70%, 50%);
}

.page-1639-content {
  padding: 4rem;
  border-radius: 11px;
}
