/* Page 443 styles */
.page-443 {
  --page-index: 443;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-443-header {
  font-size: calc(1rem + 3px);
  color: hsl(191, 70%, 50%);
}

.page-443-content {
  padding: 4rem;
  background: linear-gradient(
    135deg,
    hsl(191, 70%, 95%),
    hsl(11, 70%, 95%)
  );
  border-radius: 7px;
}
