/* Page 1055 styles */
.page-1055 {
  --page-index: 1055;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1055-header {
  font-size: calc(1rem + 5px);
  color: hsl(155, 70%, 50%);
}

.page-1055-content {
  padding: 4rem;
  background: linear-gradient(
    315deg,
    hsl(155, 70%, 95%),
    hsl(335, 70%, 95%)
  );
  border-radius: 11px;
}
