/* Page 787 styles */
.page-787 {
  --page-index: 787;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-787-header {
  font-size: calc(1rem + 7px);
  color: hsl(319, 70%, 50%);
}

.page-787-content {
  padding: 4rem;
  border-radius: 7px;
}
