/* Page 503 styles */
.page-503 {
  --page-index: 503;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-503-header {
  font-size: calc(1rem + 3px);
  color: hsl(251, 70%, 50%);
}

.page-503-content {
  padding: 4rem;
  background: linear-gradient(
    315deg,
    hsl(251, 70%, 95%),
    hsl(71, 70%, 95%)
  );
  border-radius: 11px;
}
