/* Page 65 styles */
.page-65 {
  --page-index: 65;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-65-header {
  font-size: calc(1rem + 5px);
  color: hsl(245, 70%, 50%);
}

.page-65-content {
  padding: 2rem;
  border-radius: 5px;
}
