/* Page 1107 styles */
.page-1107 {
  --page-index: 1107;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1107-header {
  font-size: calc(1rem + 7px);
  color: hsl(279, 70%, 50%);
}

.page-1107-content {
  padding: 4rem;
  border-radius: 7px;
}
