/* Page 97 styles */
.page-97 {
  --page-index: 97;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-97-header {
  font-size: calc(1rem + 7px);
  color: hsl(349, 70%, 50%);
}

.page-97-content {
  padding: 2rem;
  background: linear-gradient(
    45deg,
    hsl(349, 70%, 95%),
    hsl(169, 70%, 95%)
  );
  border-radius: 5px;
}
