/* Page 427 styles */
.page-427 {
  --page-index: 427;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-427-header {
  font-size: calc(1rem + 7px);
  color: hsl(319, 70%, 50%);
}

.page-427-content {
  padding: 4rem;
  border-radius: 7px;
}
