/* Page 461 styles */
.page-461 {
  --page-index: 461;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-461-header {
  font-size: calc(1rem + 1px);
  color: hsl(137, 70%, 50%);
}

.page-461-content {
  padding: 2rem;
  border-radius: 9px;
}
