/* Page 763 styles */
.page-763 {
  --page-index: 763;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-763-header {
  font-size: calc(1rem + 3px);
  color: hsl(151, 70%, 50%);
}

.page-763-content {
  padding: 4rem;
  background: linear-gradient(
    135deg,
    hsl(151, 70%, 95%),
    hsl(331, 70%, 95%)
  );
  border-radius: 7px;
}
