/* Page 961 styles */
.page-961 {
  --page-index: 961;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-961-header {
  font-size: calc(1rem + 1px);
  color: hsl(277, 70%, 50%);
}

.page-961-content {
  padding: 2rem;
  border-radius: 5px;
}
