/* Page 199 styles */
.page-199 {
  --page-index: 199;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-199-header {
  font-size: calc(1rem + 9px);
  color: hsl(163, 70%, 50%);
}

.page-199-content {
  padding: 4rem;
  background: linear-gradient(
    315deg,
    hsl(163, 70%, 95%),
    hsl(343, 70%, 95%)
  );
  border-radius: 11px;
}
