/* Page 1997 styles */
.page-1997 {
  --page-index: 1997;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1997-header {
  font-size: calc(1rem + 7px);
  color: hsl(89, 70%, 50%);
}

.page-1997-content {
  padding: 2rem;
  border-radius: 9px;
}
