/* Page 1322 styles */
.page-1322 {
  --page-index: 1322;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1322-header {
  font-size: calc(1rem + 2px);
  color: hsl(314, 70%, 50%);
}

.page-1322-content {
  padding: 3rem;
  background: linear-gradient(
    90deg,
    hsl(314, 70%, 95%),
    hsl(134, 70%, 95%)
  );
  border-radius: 6px;
}
