/* Page 799 styles */
.page-799 {
  --page-index: 799;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-799-header {
  font-size: calc(1rem + 9px);
  color: hsl(43, 70%, 50%);
}

.page-799-content {
  padding: 4rem;
  background: linear-gradient(
    315deg,
    hsl(43, 70%, 95%),
    hsl(223, 70%, 95%)
  );
  border-radius: 11px;
}
