/* Page 797 styles */
.page-797 {
  --page-index: 797;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-797-header {
  font-size: calc(1rem + 7px);
  color: hsl(329, 70%, 50%);
}

.page-797-content {
  padding: 2rem;
  border-radius: 9px;
}
