/* Page 837 styles */
.page-837 {
  --page-index: 837;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-837-header {
  font-size: calc(1rem + 7px);
  color: hsl(9, 70%, 50%);
}

.page-837-content {
  padding: 2rem;
  border-radius: 9px;
}
