/* Page 293 styles */
.page-293 {
  --page-index: 293;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-293-header {
  font-size: calc(1rem + 3px);
  color: hsl(41, 70%, 50%);
}

.page-293-content {
  padding: 2rem;
  border-radius: 9px;
}
