/* Page 491 styles */
.page-491 {
  --page-index: 491;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-491-header {
  font-size: calc(1rem + 1px);
  color: hsl(167, 70%, 50%);
}

.page-491-content {
  padding: 4rem;
  border-radius: 7px;
}
