/* Page 1946 styles */
.page-1946 {
  --page-index: 1946;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1946-header {
  font-size: calc(1rem + 6px);
  color: hsl(2, 70%, 50%);
}

.page-1946-content {
  padding: 3rem;
  background: linear-gradient(
    90deg,
    hsl(2, 70%, 95%),
    hsl(182, 70%, 95%)
  );
  border-radius: 6px;
}
