/* Page 1936 styles */
.page-1936 {
  --page-index: 1936;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1936-header {
  font-size: calc(1rem + 6px);
  color: hsl(352, 70%, 50%);
}

.page-1936-content {
  padding: 1rem;
  background: linear-gradient(
    0deg,
    hsl(352, 70%, 95%),
    hsl(172, 70%, 95%)
  );
  border-radius: 4px;
}
