/* Page 1063 styles */
.page-1063 {
  --page-index: 1063;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1063-header {
  font-size: calc(1rem + 3px);
  color: hsl(91, 70%, 50%);
}

.page-1063-content {
  padding: 4rem;
  background: linear-gradient(
    315deg,
    hsl(91, 70%, 95%),
    hsl(271, 70%, 95%)
  );
  border-radius: 11px;
}
