/* Page 471 styles */
.page-471 {
  --page-index: 471;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-471-header {
  font-size: calc(1rem + 1px);
  color: hsl(147, 70%, 50%);
}

.page-471-content {
  padding: 4rem;
  border-radius: 11px;
}
