/* Page 606 styles */
.page-606 {
  --page-index: 606;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-606-header {
  font-size: calc(1rem + 6px);
  color: hsl(102, 70%, 50%);
}

.page-606-content {
  padding: 3rem;
  background: linear-gradient(
    270deg,
    hsl(102, 70%, 95%),
    hsl(282, 70%, 95%)
  );
  border-radius: 10px;
}
