/* Page 1798 styles */
.page-1798 {
  --page-index: 1798;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1798-header {
  font-size: calc(1rem + 8px);
  color: hsl(286, 70%, 50%);
}

.page-1798-content {
  padding: 3rem;
  border-radius: 10px;
}
