/* Page 345 styles */
.page-345 {
  --page-index: 345;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-345-header {
  font-size: calc(1rem + 5px);
  color: hsl(165, 70%, 50%);
}

.page-345-content {
  padding: 2rem;
  border-radius: 5px;
}
