/* Page 1961 styles */
.page-1961 {
  --page-index: 1961;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1961-header {
  font-size: calc(1rem + 1px);
  color: hsl(197, 70%, 50%);
}

.page-1961-content {
  padding: 2rem;
  border-radius: 5px;
}
