/* Page 59 styles */
.page-59 {
  --page-index: 59;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-59-header {
  font-size: calc(1rem + 9px);
  color: hsl(23, 70%, 50%);
}

.page-59-content {
  padding: 4rem;
  border-radius: 7px;
}
