/* Page 1966 styles */
.page-1966 {
  --page-index: 1966;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1966-header {
  font-size: calc(1rem + 6px);
  color: hsl(22, 70%, 50%);
}

.page-1966-content {
  padding: 3rem;
  border-radius: 10px;
}
