/* Page 1277 styles */
.page-1277 {
  --page-index: 1277;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1277-header {
  font-size: calc(1rem + 7px);
  color: hsl(89, 70%, 50%);
}

.page-1277-content {
  padding: 2rem;
  background: linear-gradient(
    225deg,
    hsl(89, 70%, 95%),
    hsl(269, 70%, 95%)
  );
  border-radius: 9px;
}
