/* Page 1078 styles */
.page-1078 {
  --page-index: 1078;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1078-header {
  font-size: calc(1rem + 8px);
  color: hsl(286, 70%, 50%);
}

.page-1078-content {
  padding: 3rem;
  background: linear-gradient(
    270deg,
    hsl(286, 70%, 95%),
    hsl(106, 70%, 95%)
  );
  border-radius: 10px;
}
