/* Page 17 styles */
.page-17 {
  --page-index: 17;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-17-header {
  font-size: calc(1rem + 7px);
  color: hsl(269, 70%, 50%);
}

.page-17-content {
  padding: 2rem;
  border-radius: 5px;
}
