/* Page 1886 styles */
.page-1886 {
  --page-index: 1886;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1886-header {
  font-size: calc(1rem + 6px);
  color: hsl(302, 70%, 50%);
}

.page-1886-content {
  padding: 3rem;
  border-radius: 10px;
}
