/* Page 1337 styles */
.page-1337 {
  --page-index: 1337;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1337-header {
  font-size: calc(1rem + 7px);
  color: hsl(149, 70%, 50%);
}

.page-1337-content {
  padding: 2rem;
  background: linear-gradient(
    45deg,
    hsl(149, 70%, 95%),
    hsl(329, 70%, 95%)
  );
  border-radius: 5px;
}
