/* Page 1982 styles */
.page-1982 {
  --page-index: 1982;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1982-header {
  font-size: calc(1rem + 2px);
  color: hsl(254, 70%, 50%);
}

.page-1982-content {
  padding: 3rem;
  border-radius: 10px;
}
