/* Page 55 styles */
.page-55 {
  --page-index: 55;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-55-header {
  font-size: calc(1rem + 5px);
  color: hsl(235, 70%, 50%);
}

.page-55-content {
  padding: 4rem;
  border-radius: 11px;
}
