/* Page 13 styles */
.page-13 {
  --page-index: 13;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-13-header {
  font-size: calc(1rem + 3px);
  color: hsl(121, 70%, 50%);
}

.page-13-content {
  padding: 2rem;
  border-radius: 9px;
}
