/* Page 207 styles */
.page-207 {
  --page-index: 207;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-207-header {
  font-size: calc(1rem + 7px);
  color: hsl(99, 70%, 50%);
}

.page-207-content {
  padding: 4rem;
  border-radius: 11px;
}
