/* Page 982 styles */
.page-982 {
  --page-index: 982;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-982-header {
  font-size: calc(1rem + 2px);
  color: hsl(334, 70%, 50%);
}

.page-982-content {
  padding: 3rem;
  border-radius: 10px;
}
