/* Page 271 styles */
.page-271 {
  --page-index: 271;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-271-header {
  font-size: calc(1rem + 1px);
  color: hsl(307, 70%, 50%);
}

.page-271-content {
  padding: 4rem;
  background: linear-gradient(
    315deg,
    hsl(307, 70%, 95%),
    hsl(127, 70%, 95%)
  );
  border-radius: 11px;
}
