/* Page 53 styles */
.page-53 {
  --page-index: 53;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-53-header {
  font-size: calc(1rem + 3px);
  color: hsl(161, 70%, 50%);
}

.page-53-content {
  padding: 2rem;
  background: linear-gradient(
    225deg,
    hsl(161, 70%, 95%),
    hsl(341, 70%, 95%)
  );
  border-radius: 9px;
}
