/* Page 1203 styles */
.page-1203 {
  --page-index: 1203;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1203-header {
  font-size: calc(1rem + 3px);
  color: hsl(231, 70%, 50%);
}

.page-1203-content {
  padding: 4rem;
  border-radius: 7px;
}
