/* Page 1067 styles */
.page-1067 {
  --page-index: 1067;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1067-header {
  font-size: calc(1rem + 7px);
  color: hsl(239, 70%, 50%);
}

.page-1067-content {
  padding: 4rem;
  border-radius: 7px;
}
