/* Page 282 styles */
.page-282 {
  --page-index: 282;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-282-header {
  font-size: calc(1rem + 2px);
  color: hsl(354, 70%, 50%);
}

.page-282-content {
  padding: 3rem;
  border-radius: 6px;
}
