/* Page 457 styles */
.page-457 {
  --page-index: 457;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-457-header {
  font-size: calc(1rem + 7px);
  color: hsl(349, 70%, 50%);
}

.page-457-content {
  padding: 2rem;
  border-radius: 5px;
}
