/* Page 73 styles */
.page-73 {
  --page-index: 73;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-73-header {
  font-size: calc(1rem + 3px);
  color: hsl(181, 70%, 50%);
}

.page-73-content {
  padding: 2rem;
  border-radius: 5px;
}
