/* Page 445 styles */
.page-445 {
  --page-index: 445;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-445-header {
  font-size: calc(1rem + 5px);
  color: hsl(265, 70%, 50%);
}

.page-445-content {
  padding: 2rem;
  border-radius: 9px;
}
