/* Page 446 styles */
.page-446 {
  --page-index: 446;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-446-header {
  font-size: calc(1rem + 6px);
  color: hsl(302, 70%, 50%);
}

.page-446-content {
  padding: 3rem;
  border-radius: 10px;
}
