/* Page 182 styles */
.page-182 {
  --page-index: 182;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-182-header {
  font-size: calc(1rem + 2px);
  color: hsl(254, 70%, 50%);
}

.page-182-content {
  padding: 3rem;
  background: linear-gradient(
    270deg,
    hsl(254, 70%, 95%),
    hsl(74, 70%, 95%)
  );
  border-radius: 10px;
}
