/* Page 183 styles */
.page-183 {
  --page-index: 183;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-183-header {
  font-size: calc(1rem + 3px);
  color: hsl(291, 70%, 50%);
}

.page-183-content {
  padding: 4rem;
  border-radius: 11px;
}
