/* Page 1297 styles */
.page-1297 {
  --page-index: 1297;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1297-header {
  font-size: calc(1rem + 7px);
  color: hsl(109, 70%, 50%);
}

.page-1297-content {
  padding: 2rem;
  border-radius: 5px;
}
