/* Page 714 styles */
.page-714 {
  --page-index: 714;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-714-header {
  font-size: calc(1rem + 4px);
  color: hsl(138, 70%, 50%);
}

.page-714-content {
  padding: 3rem;
  border-radius: 6px;
}
