/* Page 1727 styles */
.page-1727 {
  --page-index: 1727;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1727-header {
  font-size: calc(1rem + 7px);
  color: hsl(179, 70%, 50%);
}

.page-1727-content {
  padding: 4rem;
  border-radius: 11px;
}
