/* Page 521 styles */
.page-521 {
  --page-index: 521;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-521-header {
  font-size: calc(1rem + 1px);
  color: hsl(197, 70%, 50%);
}

.page-521-content {
  padding: 2rem;
  border-radius: 5px;
}
