/* Page 1755 styles */
.page-1755 {
  --page-index: 1755;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1755-header {
  font-size: calc(1rem + 5px);
  color: hsl(135, 70%, 50%);
}

.page-1755-content {
  padding: 4rem;
  background: linear-gradient(
    135deg,
    hsl(135, 70%, 95%),
    hsl(315, 70%, 95%)
  );
  border-radius: 7px;
}
