/* Page 26 styles */
.page-26 {
  --page-index: 26;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-26-header {
  font-size: calc(1rem + 6px);
  color: hsl(242, 70%, 50%);
}

.page-26-content {
  padding: 3rem;
  background: linear-gradient(
    90deg,
    hsl(242, 70%, 95%),
    hsl(62, 70%, 95%)
  );
  border-radius: 6px;
}
