/* Page 71 styles */
.page-71 {
  --page-index: 71;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-71-header {
  font-size: calc(1rem + 1px);
  color: hsl(107, 70%, 50%);
}

.page-71-content {
  padding: 4rem;
  border-radius: 11px;
}
