/* Page 1991 styles */
.page-1991 {
  --page-index: 1991;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1991-header {
  font-size: calc(1rem + 1px);
  color: hsl(227, 70%, 50%);
}

.page-1991-content {
  padding: 4rem;
  border-radius: 11px;
}
