/* Page 597 styles */
.page-597 {
  --page-index: 597;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-597-header {
  font-size: calc(1rem + 7px);
  color: hsl(129, 70%, 50%);
}

.page-597-content {
  padding: 2rem;
  background: linear-gradient(
    225deg,
    hsl(129, 70%, 95%),
    hsl(309, 70%, 95%)
  );
  border-radius: 9px;
}
