/* Page 391 styles */
.page-391 {
  --page-index: 391;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-391-header {
  font-size: calc(1rem + 1px);
  color: hsl(67, 70%, 50%);
}

.page-391-content {
  padding: 4rem;
  border-radius: 11px;
}
