/* Page 479 styles */
.page-479 {
  --page-index: 479;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-479-header {
  font-size: calc(1rem + 9px);
  color: hsl(83, 70%, 50%);
}

.page-479-content {
  padding: 4rem;
  border-radius: 11px;
}
