/* Page 1155 styles */
.page-1155 {
  --page-index: 1155;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-1155-header {
  font-size: calc(1rem + 5px);
  color: hsl(255, 70%, 50%);
}

.page-1155-content {
  padding: 4rem;
  background: linear-gradient(
    135deg,
    hsl(255, 70%, 95%),
    hsl(75, 70%, 95%)
  );
  border-radius: 7px;
}
