/* Page 178 styles */
.page-178 {
  --page-index: 178;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-178-header {
  font-size: calc(1rem + 8px);
  color: hsl(106, 70%, 50%);
}

.page-178-content {
  padding: 3rem;
  border-radius: 6px;
}
